:root {
  --left-bg-color: rgba(73, 80, 87, 0.7);
  --right-bg-color: rgba(52, 58, 64, 0.7);
  --left-btn-hover-color: rgba(52, 58, 64);
  --right-btn-hover-color: rgba(33, 37, 41);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  --color1: #F8F9FA;
  --color2: #E9ECEF;
  --color3: #DEE2E6;
  --color4: #CED4DA;
  --color5: #ADB5BD;
  --color6: #6C757D;
  --color7: #495057;
  --color8: #343A40;
  --color9: #212529;
}

.color-primary {
  color: #E9ECEF !important;
}

.color-secondary {
  color: #E9ECEF !important;
}

.color-third {
  color: #E9ECEF !important;
}

.color-forth {
  color: #8d4cba !important;
}

.color-fifth {
  color: #723d93 !important;
}

.bg-primary {
  background-color: #212529 !important;
}

.bg-secondary {
  background-color: #212529 !important;
}

.bg-third {
  background-color: #495057 !important;
}

.btn-success {
  background-color: #343A40 !important;
  border-color: #343A40 !important;
}

.btn-success:hover {
  border-color: #212529 !important;
  background-color: #212529 !important;
  color: #FFF !important;
}

.bg-forth {
  background-color: #8d4cba !important;
}

.bg-fifth {
  background-color: #723d93 !important;
}

.bg-warning {
  background-color: #495057 !important;
}

.card-header.bg-primary {
  background-color: #343A40 !important;
}

.btn-primary {
  background-color: #285daf !important;
  color: #fff;
}

.btn-outline-primary {
  border: 2px solid #285daf !important;
  color: #285daf !important;
}

.btn-outline-primary:hover {
  border: 2px solid #285daf !important;
  background-color: #285daf !important;
  color: #fff !important;
}

.page-item.active .page-link {
  background-color: #285daf !important;
  color: #fff;
}

.page-item .page-link {
  color: #285daf;
  border: 1px solid #285daf !important;
}

.main-menu.menu-light .navigation li a {
  color: #495057;
  font-weight: 500;
}

.main-menu.menu-light .navigation li a:hover {
  color: #212529 !important;
  font-weight: 500;
}

.logo {
  height: 150px
}

/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #285daf;
    background-color: #fff;
    border-bottom: 2px solid #285daf;
	border-color: #fff;
}
.nav-tabs .nav-link a{
	color: #000;
} */
.nav-tabs .nav-link.active {
  color: #212529;
  background-color: #fff;
  border-color: none;
  border-bottom: 2px solid #212529;
  border-top: none;
  border-left: none;
  border-right: none;
}