:root {
  --left-bg-color: rgba(73, 80, 87, 0.7);
  --right-bg-color: rgba(52, 58, 64, 0.7);
  --left-btn-hover-color: rgba(52, 58, 64);
  --right-btn-hover-color: rgba(33, 37, 41);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  --color1: #F8F9FA;
  --color2: #E9ECEF;
  --color3: #DEE2E6;
  --color4: #CED4DA;
  --color5: #ADB5BD;
  --color6: #6C757D;
  --color7: #495057;
  --color8: #343A40;
  --color9: #212529;
}

body {
  font-family: 'Comfortaa', cursive !important;
  color: #212529 !important;
  /* overflow-x: hidden; */
}

.table-container {
  width: 80% !important;
  margin: auto !important;
  margin-top: 50px !important;

}

.request_table {
  overflow-x: scroll !important;
}

table {
  width: 100% !important;
  border-collapse: collapse !important;
  margin-bottom: 20px !important;
  border-radius: 4px !important;
  overflow: hidden !important;
}

table,
th,
td {
  border: 1px solid #ddd !important;
}



th,
td {
  padding: 8px 12px !important;
  text-align: left !important;
}

th {
  background-color: #f2f2f2 !important;
  position: relative !important;

}

th button {
  border: none !important;
  background: none !important;
  font: inherit !important;
  cursor: pointer !important;
  text-wrap: nowrap;
}

th button i:hover {
  color: var(--color7);
}

.pagination-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.pagination-info {
  margin-left: 10px !important;
}

.pagination {
  display: flex !important;
  justify-content: center !important;
  padding-left: 0 !important;
  list-style: none !important;
  border-radius: .25rem !important;
  margin-left: 50px !important;
}

.page-item {
  margin: 0 5px !important;
}

.page-link {
  padding: .5rem .75rem !important;
  margin-left: -1px !important;
  line-height: 1.25 !important;
  color: #343A40 !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 4px !important;
}

.page-link:hover {
  color: #495057 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
}

.page-item.disabled .page-link {
  color: #6c757d !important;
  pointer-events: none !important;
  background-color: #fff !important;
  border-color: #dee2e6 !important;
}

.page-item.active .page-link {
  z-index: 1 !important;
  color: #fff !important;
  background-color: #343A40 !important;
  border-color: #343A40 !important;
}

.controls {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 20px !important;
}

.odd-row:hover {
  background-color: #e0e0e0 !important;
}

.controls .entries {
  display: flex !important;
  align-items: center !important;
  gap: 2px !important;
  margin-left: 50px !important;
}

/* ==================  */
/* SEARCH INPUT TABLE  */
/* ==================  */
.cat_Search {
  padding: 5px;
  color: var(--color9);
  font-weight: 600;
  background: var(--color);
  border: 1px solid var(--color6);
  border-radius: 5px;
  outline: 0;
}

/* ================== */
/* ADD CATEGORY FORM  */
/* ================== */
.artisan-cat {
  background: var(--color2);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: var(--color9);
  margin-bottom: 50px;
}

.add_cat_btn {
  padding: 6px !important;
  background: var(--color8) !important;
  color: var(--color2) !important;
  border-radius: 4px !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2) !important;
  border: 0 !important;
}

.add_cat_btn:hover {
  background: var(--color9) !important;
  color: var(--color2) !important;
}

/* ================== */
/* EDIT CATEGORY FORM */
/* ================== */

.edit_cat_form {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
  text-wrap: nowrap;
  padding: 5px;
  gap: 5px;
}

input.form-control.col-lg-4.cat_Search {
  padding: 5px;
  color: var(--color9);
  font-weight: 600;
  background: var(--color);
  border: 1px solid var(--color6);
  border-radius: 5px;
  outline: 0
}

input.form-control.col-lg-4.cat_Search:focus {
  border-color: unset;
  outline: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

/* ================== */
/* Update CATEGORY BTN  */
/* ================== */
/* 
input#Update_category {
  display: none;
} */


.table-container {
  margin: 20px !important;
}

.controls {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 10px !important;
}

.pagination {
  list-style-type: none !important;
  display: flex !important;
}

.pagination li {
  margin: 0 5px !important;
}

.pagination li a {
  text-decoration: none !important;
}

.row-checkbox {
  margin-right: 10px !important;
}


.address-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  max-width: 100% !important;
  margin-top: 20px !important;
  border: none !important;
}

.address-form .name-section {
  display: flex !important;
  justify-content: space-between !important;
  gap: 10px !important;
}

.address-form .phone-section {
  display: grid !important;
  grid-template-columns: 50px 1fr 50px 1fr !important;
  padding-top: 7px !important;
  gap: 15px !important;
  margin-top: 20px !important;
}

.phone-section .pn-section {
  grid-column: 1/3 !important;
}

.phone-section .prefix {
  grid-column: 1/2 !important;
}

.prefix,
.prefix-2 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: auto !important;
}

.span {
  margin-top: 10px !important;
}

.pn-form,
.add-form {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: start !important;
  width: 100% !important;

}

.phone-section .pn-form {
  grid-column: 2/3 !important;
  width: 300px;

}

.address-section {
  margin-top: 20px !important;
  display: flex !important;
  gap: 20px !important;
  margin-left: 10px;
}

.select_user_role {
  margin-top: 20px !important;
  display: flex !important;

  gap: 20px !important;
  margin-left: 10px;
}

.region-section {
  margin-top: 20px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.default-address-check {
  margin-top: 20px !important;
}

form.admin_table.form-section {
  background-color: var(--color2) !important;
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 0 5px rgba(0, 0, 0, .3) !important;
  border-radius: 4px !important;
  margin-bottom: 24px !important;
  padding: 16px !important;
}

.controls.add_user_form {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  max-width: 100% !important;
  margin-top: 20px !important;
  border: none !important;
}

.name-section.col-12 {
  display: flex !important;
  justify-content: space-between !important;
  gap: 10px !important;
  outline: 0 !important;
  border: 0 !important;
  padding: 10px !important;
}

.phone-section.col-12 {
  display: grid !important;
  grid-template-columns: 50px 1fr !important;
  padding-top: 7px !important;
  gap: 15px !important;
  margin-top: 20px !important;
  margin-left: 6px;
  width: 300px !important;
}

.user_inputs {
  padding: 1rem 0.5rem;
  border: 1px solid var(--color6);
  border-radius: 4px;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
}

.name-section label {
  padding: 5px;
}

.add_user_btn {
  background-color: var(--color8);
  border: 0;

}

.user_btn.col-5 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

button.btn.btn-primary.add_user_btn {
  background: var(--color8);
  border: 0;
  outline: 0;
  padding: 10px 20px;
  font-weight: 700;
}

button.btn.btn-primary.add_user_btn:hover {
  background: var(--color9);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}